.restaurant {
    width: 100%;
    &__img {
        width: 100%;
        height: 16rem;
        margin-bottom: -2.31rem;
        z-index: 1;
        position: relative;
    }
    &__title {
        background-color: $color-background;
        width: 100%;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        z-index: 2;
        position: relative;
        display: flex;
        justify-content:center;
        &--name {
            width: 100%;
            max-width: 21.88rem;
            padding: 2.56rem 2.38rem 0 1.19rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        &--icon {
            font-size: 1.5rem;
            margin-left: 1rem;
            position: relative;
        }
        .icon--inactive {
            position: absolute;
            z-index: 0;
        }
        .icon--active {
            color: $color-btn;
            z-index: 1;
            transform: scale(0);
            transition: transform 330ms ease-in-out;
        }
        &--icon:hover {
            .icon--active {
                transform: scale(1.12);
            }
        }
    }
}
.dish {
    background-color: $color-background;
    width: 100%;
    padding: 0 1.19rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
        @include dish-title;
        &::after {
            content: ' ';
            @include dish-underline;
            display: block;
        }
        
    }
    &__card {
        @include restaurant-dish-card;
        @include box-shadow;
        width: 100%;
        padding: 0 1.44rem 0 0.75rem;
        margin-bottom: 0.88rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
        &--inactive {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        &--infos {
            padding: 0.94rem 0 0.81rem 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &--price {
            padding-top: 2.2rem;
            margin-left: 0.5rem;
            }
        &--active {
            display: flex;
            align-items: center;
            justify-content: center;
            transform-origin: right;
            transform: scaleX(0);
            transition: transform 600ms;
        }
        &--icon {
            @include icon-active;
            position: absolute;
            opacity: 0;
            transform: rotate(-360deg);
            transition: transform 600ms ease-in-out;
        }
    }
    &__card:hover {
        padding: 0 0 0 0.75rem;
        .dish__card--inactive {
            width: 80%;
            padding-right: 1.44rem;
        }
        .dish__card--active {
            @include card-active;
            transform: scaleX(1);
        }
        .dish__card--price {
            margin-left: 1.44rem;
        }
        .dish__card--icon {
            @include icon-active;
            opacity: 1;
            transform: rotate(0deg);
        }
    }
}

.submit {
    background-color: $color-background;
    width: 100%;
    height: 9.81rem;
    display: flex;
    justify-content: center;
    align-items: center;
    &--button {
        @include btn-submit;
        @include box-shadow;
        @include bold;
    }
    &--button:hover {
        @include btn-submit--hover;
    }
}
