/* GENERAL */
/* BUTTONS */
/* HOME-PAGE */
/* RESTAURANT-PAGE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

h1 {
  font-family: "shrikhand", "cursive";
}

h2 {
  font-weight: bolder;
}

.title__font {
  font-family: "shrikhand", "cursive";
}

h3 {
  font-weight: lighter;
}

a {
  color: #000000;
}

input {
  font-weight: bolder;
  color: #353535;
  font-size: 1rem;
}

.footer__title--typo {
  font-family: "shrikhand", "cursive";
  font-size: 1.25rem;
}

.footer__link--typo {
  font-weight: bolder;
}

/* DISH-CARD APPEARENCE ANIMATION */
@keyframes dish-card-animation {
  0% {
    transform: translateY(20%);
    transform-origin: bottom;
    opacity: 0;
  }
  85%, 100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
/* LOADER ANIMATION */
@keyframes loading-screen {
  0%, 99% {
    opacity: 1;
    z-index: 99;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.btn-search {
  padding: 15px 25px;
  border-radius: 50px;
  border: none;
  color: #ffffff;
  background: linear-gradient(to bottom right, #eb72da, #a25bdc);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 20px;
}

.btn-submit {
  padding: 18px 49px;
  border-radius: 50px;
  border: none;
  color: #ffffff;
  background: linear-gradient(to bottom right, #eb72da, #a25bdc);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 20px;
}

.loading-screen {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: -1;
  opacity: 0;
  animation: loading-screen 1s;
}
.loading-screen .loader {
  color: #eb72da;
  font-size: 8rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loader 2s linear infinite;
}

.header {
  background-color: #f6f6f6;
  width: 100%;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__title {
  background-color: #ffffff;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__title--logo {
  width: 10rem;
  height: 1.8rem;
}
.header__location {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
}
.header__location--input {
  width: 10rem;
  border: hidden;
  padding: 3px 0 0 18px;
  background-color: #eaeaea;
}
.header__location--input:focus {
  outline: none;
}
.header__informations {
  width: 100%;
  height: 8.75rem;
  padding-top: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__nav {
  width: 100%;
  height: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__nav--button {
  padding: 15px 25px;
  border-radius: 50px;
  border: none;
  color: #ffffff;
  background: linear-gradient(to bottom right, #eb72da, #a25bdc);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 20px;
}
.header__nav--button:hover {
  background: linear-gradient(to bottom right, #ee88e0, #ae70e0);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 20px;
}

.header-menu {
  background-color: #ffffff;
  width: 100%;
  height: 3.94rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.header-menu__icon {
  width: 20%;
  font-size: 1rem;
  padding-left: 1.44rem;
}
.header-menu__title {
  width: 80%;
  margin-left: -10%;
  display: flex;
  justify-content: center;
}

.restaurant {
  width: 100%;
}
.restaurant__img {
  width: 100%;
  height: 16rem;
  margin-bottom: -2.31rem;
  z-index: 1;
  position: relative;
}
.restaurant__title {
  background-color: #f6f6f6;
  width: 100%;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  z-index: 2;
  position: relative;
  display: flex;
  justify-content: center;
}
.restaurant__title--name {
  width: 100%;
  max-width: 21.88rem;
  padding: 2.56rem 2.38rem 0 1.19rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.restaurant__title--icon {
  font-size: 1.5rem;
  margin-left: 1rem;
  position: relative;
}
.restaurant__title .icon--inactive {
  position: absolute;
  z-index: 0;
}
.restaurant__title .icon--active {
  color: #eb72da;
  z-index: 1;
  transform: scale(0);
  transition: transform 330ms ease-in-out;
}
.restaurant__title--icon:hover .icon--active {
  transform: scale(1.12);
}

.dish {
  background-color: #f6f6f6;
  width: 100%;
  padding: 0 1.19rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dish__title {
  text-transform: uppercase;
  color: #7b7b7b;
  width: 100%;
  max-width: 21.88rem;
  margin-top: 2.81rem;
  font-weight: bolder;
}
.dish__title::after {
  content: " ";
  width: 2.5rem;
  height: 3px;
  margin-top: 0.56rem;
  margin-bottom: 0.88rem;
  background-color: #99e2d0;
  display: block;
}
.dish__card {
  background-color: #ffffff;
  border-radius: 15px;
  width: 100%;
  max-width: 21.88rem;
  height: 4.25rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 20px;
  width: 100%;
  margin-bottom: 0.88rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  animation: dish-card-animation 800ms both;
  overflow: hidden;
}
.dish__card--inactive {
  padding: 0 1.44rem 0 0.75rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 0 0 100%;
  transition: flex 600ms ease-in-out;
}
.dish__card--infos {
  width: 100%;
  padding: 0.94rem 0 0.81rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dish__card--infos p {
  width: 255px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 600ms ease-in-out;
}
.dish__card--price {
  padding-top: 2.2rem;
  margin-left: 0.5rem;
}
.dish__card--active {
  background-color: #99e2d0;
  height: 4.25rem;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 20%;
}
.dish__card--icon {
  background-color: #ffffff;
  color: #99e2d0;
  font-size: 0.63rem;
  border-radius: 50px;
  padding: 4px 5px;
  transform: translateX(20px) rotate(-360deg);
  transition: transform 600ms ease-in-out;
}
.dish__card:hover .dish__card--inactive {
  flex: 0 0 80%;
}
.dish__card:hover .dish__card--icon {
  background-color: #ffffff;
  color: #99e2d0;
  font-size: 0.63rem;
  border-radius: 50px;
  padding: 4px 5px;
  transform: translateX(0) rotate(0deg);
}
.dish__card:hover p {
  width: 180px;
}
.dish .card__1 {
  animation-delay: 200ms;
}
.dish .card__2 {
  animation-delay: 400ms;
}
.dish .card__3 {
  animation-delay: 600ms;
}
.dish .card__4 {
  animation-delay: 800ms;
}
.dish .card__5 {
  animation-delay: 1000ms;
}
.dish .card__6 {
  animation-delay: 1200ms;
}
.dish .card__7 {
  animation-delay: 1400ms;
}
.dish .card__8 {
  animation-delay: 1600ms;
}
.dish .card__9 {
  animation-delay: 1800ms;
}
.dish .card__10 {
  animation-delay: 2000ms;
}

.submit {
  background-color: #f6f6f6;
  width: 100%;
  height: 9.81rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.submit--button {
  padding: 18px 49px;
  border-radius: 50px;
  border: none;
  color: #ffffff;
  background: linear-gradient(to bottom right, #eb72da, #a25bdc);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 20px;
  font-weight: bolder;
}
.submit--button:hover {
  background: linear-gradient(to bottom right, #ee88e0, #ae70e0);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 20px;
}

.footer {
  background-color: #353535;
  width: 100%;
  padding: 2.5rem 0 2.38rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__title {
  color: #ffffff;
  width: 20rem;
  padding: 0 0 1.75rem 1.56rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.footer__list {
  width: 20rem;
  padding-left: 1.56rem;
  display: flex;
  flex-direction: column;
}
.footer__link {
  color: #ffffff;
  margin-bottom: 0.94rem;
}
.footer__link--icon {
  padding-right: 0.75rem;
}

.functioning {
  background-color: #ffffff;
  width: 100%;
  padding: 3.13rem 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.functioning__title {
  width: 20rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: flex-start;
}
.functioning__list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.functioning__step {
  width: 18.75rem;
  height: 4.7rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 30px;
  margin-bottom: 1.5rem;
  margin-left: 1.25rem;
  background-color: #f6f6f6;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 20px;
}
.functioning__step--number {
  font-size: 14px;
  color: #ffffff;
  background-color: #9356dc;
  border-radius: 50%;
  padding: 1.5px 6px;
  margin-left: -10px;
}
.functioning__step--icon {
  padding: 0 1.25rem;
  color: #9356dc;
}
.functioning__step:hover {
  background-color: #f5edff;
}
.functioning p {
  font-weight: bolder;
}

.restaurants {
  background-color: #f6f6f6;
  width: 100%;
  padding: 3.75rem 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.restaurants__title {
  width: 21rem;
  padding-bottom: 1.86rem;
  display: flex;
  align-items: center;
}
.restaurants__cards-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.restaurants__card {
  background-color: #ffffff;
  border-radius: 20px;
  width: 21rem;
  height: 15.6rem;
  margin-bottom: 1.13rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 20px;
}
.restaurants__card--img {
  width: 100%;
  height: 70%;
  position: relative;
}
.restaurants__card--img-new {
  position: absolute;
  top: 25%;
  left: 75%;
  transform: translate(-25%, -75%);
  padding: 0.56rem 0.75rem;
  border-radius: 5px;
  color: #008766;
  background-color: #99e2d0;
  font-weight: bolder;
}
.restaurants__card img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.restaurants__card--informations {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.restaurants__card--informations-title {
  padding-left: 0.88rem;
  display: flex;
  flex-direction: column;
}
.restaurants__card--informations-icon {
  font-size: 1.31rem;
  padding: 0 1.56rem 1rem 0;
  position: relative;
}
.restaurants__card--informations .icon--inactive {
  position: absolute;
  z-index: 0;
}
.restaurants__card--informations .icon--active {
  color: #eb72da;
  z-index: 1;
  transform: scale(0);
  transition: transform 330ms ease-in-out;
}
.restaurants__card--informations-icon:hover .icon--active {
  transform: scale(1.12);
}

/*# sourceMappingURL=style.css.map */
