/* DISH-CARD APPEARENCE ANIMATION */
@keyframes dish-card-animation {
    0% {
        transform: translateY(20%);
        transform-origin: bottom;
        opacity: 0;
    }

    85%,100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

/* LOADER ANIMATION */
@keyframes loading-screen {
    0%, 99% {
        opacity: 1;
        z-index: 99;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}

@keyframes loader {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}