body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

h1 {
    font-family: 'shrikhand', 'cursive';
}

h2 {
    @include bold;
}

.title__font {
    font-family: 'shrikhand', 'cursive';
}

h3 {
    @include light;
}

a {
    color: $color-black;
}

input {
    @include bold;
    color: $color-footer;
    font-size: 1rem;
}

.footer__title--typo {
    font-family: 'shrikhand', 'cursive';
    font-size: 1.25rem;
}

.footer__link--typo {
    @include bold;
}