.restaurants {
    background-color: $color-background;
    width: 100%;
    padding: 3.75rem 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
        width: 21rem;
        padding-bottom: 1.86rem;
        display: flex;
        align-items: center;
    }
    &__cards-list {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__card {
        @include restaurant-homepage-card;
        @include box-shadow;
        &--img {
            width: 100%;
            height: 70%;
            position: relative;
            &-new {
                position: absolute;
                top: 25%;
                left: 75%;
                transform: translate(-25%, -75%);
                @include sticker-new;
            }
        }
        img {
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }
        &--informations {
            width: 100%;
            height: 30%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            &-title {
                padding-left: 0.88rem;
                display: flex;
                flex-direction: column;
            }
            &-icon {
                font-size: 1.31rem;
                padding: 0 1.56rem 1rem 0;
                position: relative;
            }
            .icon--inactive {
                position: absolute;
                z-index: 0;
            }
            .icon--active {
                color: $color-btn;
                z-index: 1;
                transform: scale(0);
                transition: transform 330ms ease-in-out;
            }
            &-icon:hover {
                .icon--active {
                transform: scale(1.12);
                }
            }
        }
    }
}
