$color-primary: #9356dc;
$color-secondary: #f5edff;
$color-tertiary: #99e2d0;
$color-tertiary-dark: #008766;
$color-background: #f6f6f6;
$color-background-dark: #eaeaea;

$color-btn: #eb72da;
$color-btn-dark: #a25bdc;

$color-white: #ffffff;
$color-black: #000000;
$color-footer: #353535;

$color-dish-title: #7b7b7b;